<div class="header">
    <div class="full-name">
        <div class="first-name">{{ uppercase firstName }}</div>
        <div class="last-name">{{ uppercase lastName }}</div>
    </div>
    <div class="contact-info">
        <div>
            <div>{{ contactInfo.address }}</div>
            <div><i class="fa fa-home"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="tel:+61{{ contactInfo.phone }}">
                    {{ formatPhone contactInfo.phone }}
                </a>
            </div>
            <div><i class="fa fa-phone"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="mailto:{{ contactInfo.email }}">
                    {{ contactInfo.email }}
                </a>
            </div>
            <div><i class="fa fa-envelope"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://github.com/{{ contactInfo.github }}">
                    https://github.com/{{ contactInfo.github }}
                </a>
            </div>
            <div><i class="fa fa-github"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://linkedin.com/in/{{ contactInfo.linkedIn }}">
                    https://linkedin.com/in/{{ contactInfo.linkedIn }}
                </a>
            </div>
            <div><i class="fa fa-linkedin"></i></div>
        </div>
    </div>
</div>
